/* ************************************* GENERAL ********************************************* */

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

/* ***************** DELETE ******************* */
.debug{
  background-color: red;
  border: 1px solid black;
  min-height: 40px;
}


/* *************************************HEADER **************************************** */
header{
  padding: 20px 0;
  background-color: antiquewhite;
}

.box-header{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25%;
  background-color: aquamarine;
}

.link{
  width: 50%;
}


/* *************************************MAIN ************************************************ */

.section-intro{
  background-color: blue;
  padding: 40px 0px;
}

.div-intro-center{
  width: 65%;
  max-width: 1000px;
  margin: 0 auto;
  height: 300px;
  background-color: blueviolet

}

.div-intro{
  margin: 40px 0px;
  display: flex;
  height: 300px;
  background-color: blueviolet;
}

/* ********** group ************/
.section-group{
  background-color: beige;
  padding: 40px 0px;
}

/* GENERAL */

.div-general-img{
  width: 75%;
  height: 300px;
  background-color: red;
}

.div-general-text{
  width: 25%;
  height: 300px;
  background-color: chocolate;
}

