/* ************************************* GENERAL ********************************************* */

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ***************** DELETE ******************* */
.debug{
  background-color: red;
  border: 1px solid black;
  min-height: 40px;
}


/* *************************************HEADER **************************************** */
header{
  padding: 20px 0;
  background-color: antiquewhite;
}

.flex{
  display: flex;
}

.box-header{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25%;
  background-color: aquamarine;
}

.link{
  width: 50%;
}


/* *************************************MAIN ************************************************ */

.section-intro{
  background-color: blue;
}

.div-intro-container{
  width: 65%;
  margin: 0 auto;

}

.div-intro{
  margin: 40px 0px;
  height: 200px;
  display: flex;
  height: 300px;
  background-color: blueviolet;
}

